
<section>
  <% if @orders.any? %>
    <h2>
      <%= pluralize @orders.count, 'pedido encontrado', 'pedidos encontrados' %>
      para: <%= @query %>
    </h2>
  <% else %>
    <p>Não foi encontrado correspondência para: <%= @query %></p>
  <% end %>

  <%= render @orders %>

</section>
